* {
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 400px;
    height: 100px;
}

#logo {
    width: 150px;
    margin-top: 50px;
    margin-left: 10px;
}

main {
    margin: 5px;
}

/* spaziatura tra le varie sezioni della pagina */
.title, .images, .article > *{
    margin-bottom: 10px;
}

#autore, #data {
    color: grey;
}

#data {
    font-size: 12px;
}

.images img {
    height: 300px;
}

figcaption {
    font-size: 12px;
}

.highlighted {
    background-color: yellow;
}

table {
    text-align: justify;
    
}

thead {
    color: white;
    background-color: #20A9E5;
}

.table-riga-dispari {
    background-color: #b1e5f2;
}